{% extends 'blog/base.html' %}

{% block content %}
<h1>About me</h1>
<p>Thanks for checking it out</p>
<br><br>

{% for i in obj %}
  <h3>Guestbook entry</h1>
  {% for key, value in  i.items %}
    <h5>{{key}} : {{value}}</h3>
  {% endfor %}
  <br>
{% endfor %}




{% endblock %}
