<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Medium Style Editor -->
    <!-- https://github.com/yabwe/medium-editor -->
    {# <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>#}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">

  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default techfont custom-navbar">
      <div class="container">
        <ul class = "nav navbar-nav">
          <li><a class='navbar-brand bigbrand' href="{% url 'post_list' %}">My blog</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="https://www.github.com">Github</a></li>
          <li><a href="https://www.linkedin.com">LinkedIn</a></li>
        </ul>
        <ul class = "nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a id='new' href="{% url 'post_new'%}">New post</a></li>
            <li><a id='drafts' href="{% url 'post_draft_list'%}">Drafts</a></li>
            <li><a href="{% url 'logout'%}">Logout</a></li>
            <li><a>Welcome: {{user.username}}</a></li>
          {% else %}
            <li><a id='login' class='nav navbar-right' href="{% url 'login' %}"><span class='glyphicon glyphicon-user'></span></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Content -->
    <div class="content container loader">
      {% block content %}

      {% endblock %}
    </div>

  </body>
</html>
